.quickFiltersContainer {
  display: flex;
  overflow-x: auto;
  padding-bottom: 8px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.quickFiltersContainer::-webkit-scrollbar {
  display: none;
}

.sortButton {
  text-transform: none;
  min-width: unset;
  padding: 4px 8px;
  margin-right: 8px;
}

.allFiltersButton {
  border-radius: 25px;
  flex-shrink: 0;
}

.quickFilterButton {
  border: 1px solid var(--color-border-grey);
  flex-shrink: 0;
}

.toggleGroup {
  border-radius: 8px;
}
