.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    'categories filters'
    'main main';
  gap: 6px;
}

@media (min-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      'filters categories'
      'filters main';
    gap: 6px;
  }
}

.grid-item__categories {
  grid-area: categories;
  height: fit-content;
}

.grid-item__filters {
  grid-area: filters;
  height: 100%;
}

.grid-item__main {
  grid-area: main;
}

.grid-item__categories,
.grid-item__filters,
.grid-item__main {
  border-radius: 1rem;
}
